@font-face 
{
    font-family: 'Raleway';
    src: url(fonts/Raleway-Italic-VariableFont_wght.ttf);
    src: url(fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 125 950;
    font-stretch: 75% 125%;
}

body
{
    font-family: Raleway, sans-serif;
    margin: 3px 0 0 0;
    display: flex;
    justify-content: center;
    
}
#bloc_page {
    max-width: 1680px;
    width: 100%; 
}

h1 {
    padding-top: 40px;
    font-weight: 750;
    font-size: 1.4em;
    margin: 0;
    color: black;
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 15px;
}

li
{
    list-style-type:none;
}

#inscription a
{
    color: #0065FC;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
}

#logo
{
    width: 97px;
    height: 45px;
}

.navigation
{
    font-weight: 600;
    font-size: 1.1em;
}

.navigation ul
{
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation a:hover
{
    color: #0065FC;
}

/* --------------SECTION RECHERCHE ---------------*/

#research_section
{
    margin: 0 30px;
}

#section_title p
{
    margin-top: 8px;
}

form
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.fa-map-marker-alt
{

    font-size: 1.1em;
    padding: 17px 19px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

form.recherche input[type=search]
{
    font-size: 1.1em;
    font-weight: 800;
    padding-left: 20px;
    max-width: 234px;
    width: 100%;
    height: 50px;
    border: solid #f2f2f2 thin;
}

form.recherche input[type=submit]
{
    font-family: Raleway;
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 130px;
}

#mobile_button
{
    background-color: #0065fc;
    height: 52px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
    width: 52px;
    flex-shrink: 0;
}

#filters_button
{
    display: flex;
    flex-wrap: wrap;
}

#filters_button button
{
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 30px;
    height: 45px;
    display: flex;
    align-items: center;
}

#filters_button i
{
    color: #0065fc;
    background-color: #deebff;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 1.4em;
}

#filters_button button:hover
{
    background-color: #0065fc;
    color: white;
    
}

.btn_txt
{
    font-size: 1.3em;
    font-weight: 700;
    padding-right: 7px;
    font-family: Raleway;
}

.fa-info
{
    color: #0065fc;
    border: solid 1px #d9d9d9;
    padding: 5px;
    font-size: 0.7em;
    border-radius: 30px;
    margin: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    flex-shrink: 0;
}

    /* --------------SECTION LOCATION ---------------*/

#titre_pop
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 25px;
}

.fa-chart-line
{
    font-weight: 800;
    font-size: 1.5em;
}

.card
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px #e4e4e4, 0 4px 12px #e4e4e4;

}

#card_popular .card
{
    display: flex;
    height: 145px;
    margin: 6px;
    max-width: 332px;
}

#card_popular img
{
object-fit: cover;
border-radius: 20px 0 0 20px;
width: 135px;
padding: 5px;
}

#card_popular .hotel_infos
{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card_popular h3, #card_popular p
{
    margin: 0;
}

#card_popular p
{
    margin-top: -15px;
}

#card_popular .stars
{
    padding-top: 15px;
}

.stars 
{
    color: #0065FC;
    font-weight: 900;
    font-size: 0.7em;
}

.stars .empty
{
    color: #d9d9d9;
}

.fa-star 
{
    padding-right: 1px
}

#populaire
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#cards_rent .card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
}

#cards_rent img
{
    height: 115px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 5px;
}

#cards_rent .hotel_infos
{
    margin-left: 10px;
    /* height: 75px; */
}

#cards_rent h3, #cards_rent .stars, #cards_rent p
{
    margin: 5px;
}

#section_rent h1
{
    padding-bottom: 25px;
}

#section_rent h2
{
    margin: 25px 0;
}

@media all and (max-width: 767px) /*mobile*/

{

    #logo
    {
        position:absolute;
        top: 25px;
        left: 5%;
    }

    #inscription
    {
        text-align: end;
        margin: 40px 20px 0 0;
    }

    .navigation ul 
    {
        margin-top: 40px;
    }

    .navigation li
    {
        flex:0.5;
        border-bottom: solid 3px #f2f2f2;
        text-align: center;
        height: 100%;
    }

    .navigation li:hover
    {
        border-bottom: solid 3px #0065FC;
    }

    .navigation a 
    {
        display: block;
        padding-bottom: 15px;
    }

    /* --------------SECTION RECHERCHE ---------------*/

#research_section
{
    margin: 0 19px;
}

form 
{
    justify-content: center;
    margin: auto;
}

form.recherche input[type=submit]
{
display: none;
}

#filters_button button
{
    margin: 5px 10px 5px 10px;
}




    /* --------------SECTION LOCATION ---------------*/

#populaire
{
    padding: 0 20px 35px 20px;
}

.card
{
    width: 100%;
}

#card_popular, #cards_rent
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card_popular img
{
    width: 40%;
    flex-shrink: 0;
}

#cards_rent .card
{
    max-width: 460px;
}
#section_rent
{
    padding: 0 30px 30px 30px;
}

#section_rent h1
{
    padding-bottom: 25px;
}

}


@media all and (min-width: 768px) /*Tablette / desktop)*/

{

    header
{
    display: flex;
    justify-content: flex-end;
}

#logo
{
    position:absolute;
    top: 42px;
    left: 25px;
}

.navigation #inscription
{
    order: 2;
}

.navigation
{
    display: flex;
    align-items: baseline;
}

.navigation li 
{
    border-top: solid 3px white;
    text-align: center;
    height: 100%;
}

.navigation li:hover
{
    border-top: solid 3px #0065FC;
}

.navigation a
{
    display: block;
    padding: 47px 35px 0 35px;
}

#inscription
{
    padding: 25px 35px 0 35px;
}

#mobile_button
{
    display: none;
}

#filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

#filters_button button
{
    margin: 5px 10px 5px 10px;
}

 /* --------------SECTION LOCATION ---------------*/

#card_popular
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


}

@media all and (min-width: 768px) and (max-width: 991px) /*Tablet*/

{
    form 
    {
        justify-content: center;
        margin: auto;
    }

    #section_rent
    {
        margin: 0px 30px 0px 30px;
    }

    #cards_rent
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #populaire
    {
        padding: 0 30px 30px 30px;
    }

    #cards_rent .card
    {
        width: 330px;
    }
}

/*
@media all and (min-width: 1390px) { /* desktop*/
 /*
    header {
        margin: 0 50px;
    } 
    #section_search {
        margin: 0 50px 15px 50px;
    }

    #container_housing, #section_activities {
        margin: 15px 50px; 
    }

