@font-face 
{
    font-family: 'Raleway';
    src: url(fonts/Raleway-Italic-VariableFont_wght.ttf);
    src: url(fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 125 950;
    font-stretch: 75% 125%;
}

body
{
    font-family: Raleway, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    
}
#bloc_page
{
    max-width: 1680px;
    width: 100%; 
}

h1
{
    padding-top: 30px;
    font-weight: 750;
    font-size: 1.4em;
    margin: 0;
    color: black;
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 15px;
}

li
{
    list-style-type:none;
}

#inscription a
{
    color: #0065FC;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
}

#logo
{
    width: 97px;
    height: 45px;
}

.navigation
{
    font-weight: 600;
    font-size: 1.1em;
}

.navigation ul
{
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation a:hover
{
    color: #0065FC;
}

/* --------------SECTION RECHERCHE ---------------*/

#research_section
{
    margin: 0 30px;
}

#section_title p
{
    margin-top: 8px;
}

form
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.fa-map-marker-alt
{

    font-size: 1.1em;
    padding: 17px 19px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

form.recherche input[type=search]
{
    font-size: 1.1em;
    font-weight: 800;
    padding-left: 20px;
    max-width: 234px;
    width: 100%;
    height: 50px;
    border: solid #f2f2f2 thin;
}

form.recherche input[type=submit]
{
    font-family: Raleway;
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 130px;
}

#mobile_button
{
    background-color: #0065fc;
    height: 52px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
    width: 52px;
    flex-shrink: 0;
}


@media all and (max-width: 768px) /*mobile*/

{

    #logo
    {
        position:absolute;
        top: 25px;
        left: 5%;
    }

    #inscription
    {
        text-align: end;
        margin: 40px 20px 0 0;
    }

    .navigation ul 
    {
        margin-top: 40px;
    }

    .navigation li
    {
        flex:0.5;
        border-bottom: solid 3px #f2f2f2;
        text-align: center;
        height: 100%;
    }
    
    .navigation li:hover
    {
        border-bottom: solid 3px #0065FC;
    }

    .navigation a 
    {
        display: block;
        padding-bottom: 15px;
    }

    /* --------------SECTION RECHERCHE ---------------*/

#research_section
{
    margin: 0 19px;
}

form 
{
    justify-content: center;
    margin: auto;
}

form.recherche input[type=submit]
{
display: none;
}

}

@media all and (min-width: 768px) /*Tablette / desktop)*/

{

    header
{
    display: flex;
    justify-content: flex-end;
}

#logo
{
    position:absolute;
    top: 45px;
    left: 25px;
}

.navigation #inscription
{
    order: 2;
}

.navigation
{
    display: flex;
    align-items: baseline;
}

.navigation li 
{
    border-top: solid 3px white;
    text-align: center;
    height: 100%;
}

.navigation li:hover
{
    border-top: solid 3px #0065FC;
}

.navigation a
{
    display: block;
    padding: 50px 35px 0 35px;
}

#inscription
{
    padding: 25px 35px 0 35px;
}

#mobile_button
{
    display: none;
}

}

@media all and (min-width: 768px) and (max-width: 991px) /*Tablet*/

{
    form 
    {
        justify-content: center;
        margin: auto;
    }
}

/*
@media all and (min-width: 1390px) { /* desktop*/
 /*
    header {
        margin: 0 50px;
    } 
    #section_search {
        margin: 0 50px 15px 50px;
    }

    #container_housing, #section_activities {
        margin: 15px 50px; 
    }



/*


.btn
{
    display: inline-flex;
    height: 50px;
    padding: 0;
    background-color: white;
    border: #f2f2f2 2px solid;
    border-radius: 25px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover
{
    color: #0065FC;
}

.btn_txt,
.btn_icon
{
    display: inline-flex;
    align-items: center;
    padding: 0px;
    height: 100%;
}


.btn_txt
{
    margin-right:10px;
    margin-left: 10px;

}

.btn_icon
{
    font-size: 1.2em;
    height: 100%;
    color: #0065FC;
    background-color: #deebff;
    border-radius: 50%;
    padding-left: 14px;
    padding-right: 14px;
}

.fa-info-circle
{
    color: #0065FC;
    
}


